@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 1em;
}
html {
	font-size: 62.5%;
}
*:focus {
	outline: none;
  }
  a {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	cursor:pointer;
  }
@media all and (min-width: 1025px) and (max-width: 1919px) {
	html {
		font-size: 0.521vw;
	}
	.tab-new-line {
		display: none
	}
	
}
@media all and (min-width: 600px) and (max-width: 1024px) {
	html {
		font-size: 1.2vw;
	}
	.tab-new-line {
		display: block;
	}
	
}
@media all and (max-width: 390px) {
	html {
		font-size: 2.565vw;
	}
}

body, table, input, textarea, select, option {
	font-family: 'Noto Sans JP', sans-serif;
}
select::-ms-expand {
	display: none;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
a, a:link {
	color: #343434;
	text-decoration: none;
	transition: all 0.3s;
}
a:visited {
	color: #343434;
}
a:hover {
	color: #343434;
}
a:active {
	color: #343434;
}
.fadeUP {
animation-name:fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	color: #343434;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	background-color: #F3F5F6;
}
#container {
	overflow: hidden;
	text-align: left;
}
#main {
	padding-top: 21.4rem;
	min-height: calc(100vh - 20.2rem);
	display: block;
	box-sizing: border-box;
}
a[href^="tel:"] {
	cursor: default;
	pointer-events: none;
}
@media all and (max-width: 1024px) {
	body.fixed {
		position: fixed;
		width: 100%;
		overflow-y: scroll;
		height: 100%;
	}
	a[href^="tel:"] {
		cursor: pointer;
		pointer-events: auto;
	}
	a:hover, a:hover img {
		opacity: 1 !important;
	}
	.pc {
		display: none !important;
	}
}
@media all and (min-width: 1025px) {
	.ipad {
		display: none !important;
	}
	.no-pc {
		display: none !important;
	}
}
@media all and (min-width: 600px) and (max-width: 1024px) {
	body {
		font-size: 1rem;
	}
	#main {
		padding-top: 12.5rem;
		min-height: calc(100vh - 12.8rem);
	}
}
@media all and (min-width: 600px) {
	.sp {
		display: none !important;
	}
}
@media all and (max-width: 599px) {
	body {
		font-size: 1.2rem;
	}
	#main {
		padding-top: 8.9rem;
	}
	#main {
		padding-top: 12.5rem;
		min-height: calc(100vh - 10.2rem);
	}
	.ipad, .no-sp {
		display: none !important;
	}
}
/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader {
	box-sizing: border-box;
	width: 100%;
	padding: 0 2.7% 0 2.95%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.04);
	background: #fff;
	z-index: 100;
}
#gHeader .hBox {
	display: flex;
	align-items: center;
}
#gHeader .noticeSp-box {
	display: none;
}
#gHeader h1 {
	margin-top: 0.5rem;
	margin-right: 6.7rem;
	width: 20.1rem;
}
#gHeader .hUserBox {

}
#gHeader .hUserBox {
	width: auto;
	position: relative;
	cursor: pointer;
}
#gHeader .hUserBox a {
	padding: 3rem 2rem 2.9rem 0;
	display: flex;
	align-items: center;
	pointer-events: none;
}
#gHeader .notice-user-box {
	display: flex;
	align-items: center;
	margin-left: auto;
}
#gHeader .notice-user-box.sp {
	display: none;
}
#gHeader .icon.bell {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 0;
	line-height: 0;
	margin-right: 3rem;
	position: relative;
	cursor: pointer;
	z-index: 2;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
#gHeader .icon.bell .bellUsually,
#gHeader .icon.bell .bellUsuallySp {
	opacity: 1;
	position: relative;
}
#gHeader .icon.bell .bellUsually.is-active {
	opacity: 0;
}

#gHeader .icon.bell .bellOpen,
#gHeader .icon.bell .bellOpenSp {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
  }
  #gHeader .icon.bell .bellOpen.is-active {
	opacity: 1;
	cursor: pointer;
  }


#gHeader .icon.bell .hover {
	display: none;
}
#gHeader .bell-notice {
	width: 1rem;
	height: 1rem;
	background: #FE1211;
	border-radius: 50%;
	position: absolute;
	top: 1.5%;
	right: 0;
}

  
  /* モーダルと背景の指定 */
  #gHeader .modal-outer,
  #gHeader .modal-outer-sp{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/* background: rgba(0,0,0,50%); */
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	box-sizing: border-box;
	z-index: 1000;
  }
  
  /* モーダルの擬似要素の指定 */
  #gHeader .notice-modal:before,
  #gHeader .notice-modal-sp:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	margin-left: -0.2em;
  }
  
  /* クラスが追加された時の指定 */
  #gHeader .notice-modal.is-active,
  #gHeader .notice-modal-sp.is-active{
	opacity: 1;
	visibility: visible;
  }
  /* モーダル内側の指定 */
  #gHeader .modal-container.notice{
	position: fixed;
	top: 10%;
	right: 1%;
	display: inline-block;
	vertical-align: middle;
	max-width: 550px;
	height: auto;
	width: 90%;
	overflow: hidden;
  }
  
  /* モーダルを閉じるボタンの指定 　 */
  .notice-modal-close{
	cursor: pointer;
  }
  
  /* モーダルのコンテンツ部分の指定 */
  #gHeader .modal-content.notice{
	background: #fff;
	text-align: left;
	line-height: 1.8;
	display: block;
  }
  #gHeader .modal-content.notice .notice-box {
	max-height: 400px;
	overflow: scroll;
  }
  /* モーダルのコンテンツ部分のテキストの指定 */
  #gHeader .notice-box li {
	transition: .3s ease-in ;
	cursor: pointer;
  }
  @media (hover: hover) {
  #gHeader .notice-box li:hover,
  #gHeader .modal-content .notice-content.unread:hover {
background: #DFEAF1;
  }
}
  #gHeader .modal-content .headLine-notice {
	background: #005792;
	height: 6rem;
	line-height: 6rem;
	color: #FFF;
	text-align: center;
	font-size: 1.9rem;
	border-radius: 1rem 1rem 0 0 ;
  }
  #gHeader .modal-content .moreLink  {
	background: #005792;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	border-radius: 0 0 1rem 1rem;
  }
  #gHeader .modal-content .moreLink a {
	display: block;
	color: #FFF;
	font-size: 1.5rem;
  }
  #gHeader .modal-content .moreLink .moreLink-text {
	display: none;
  }
  #gHeader .modal-content.notice .notice-modal-close  {
	display: none;
  }
/* お知らせのレイアウト */
#gHeader .list-headline {
	display: flex;
	flex-direction: column;
}
#gHeader .modal-content li  a{
	display: flex;
	align-items: center;
	padding: 2rem  4rem;
}
#gHeader .modal-content .notice-icon {
	width: 1rem;
    height: 1rem;
    background: #FE1211;
    border-radius: 50%;
	z-index: 5;
	display: block;
	margin-right: 4rem;
  }

  /* 既読の場合の通知マーク　非表示処理 */
  #gHeader .modal-content .notice-icon.red {
	opacity: 0;
  }
#gHeader .modal-content  .notice-content {
	display: flex;
	flex-wrap: wrap;

}

#gHeader .modal-content  .notice-content.unread {
	display: flex;
	flex-wrap: wrap;
	background: #EFF6FB;

}
#gHeader .modal-content .notice-list-ttl {
	color: #202020;
	font-weight: bold;
	font-size: 1.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	max-width: 400px;
	margin-bottom: .5rem;
}
#gHeader .notice-time {
	display: inline-block;
    vertical-align: 0.4rem;
    color: #A5A5A5;
    font-size: 1.5rem;
    font-weight: 500;
}
#gHeader .modal.pagination {
	display: none;
}
@media all and (min-width: 1025px) {
#gHeader .hUserBox .icon.bell:hover img{
	display: none;
}
#gHeader .hUserBox .icon.bell:hover .hover{
	display: inline;
}
}
#gHeader .hUserBox .userImg {
	margin-right: 2.4rem;
	width: 5.7rem;
}
#gHeader .hUserBox .userImg span {
	padding-bottom: 100%;
	border-radius: 1.4rem;
}
#gHeader .hUserBox p span {
	margin-top: 0.2rem;
	display: block;
	font-weight: 500;
	font-size: 1.2rem;
	color: #8F8F8F;
}
/* #gHeader .hUserBox-list {
		position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	box-sizing: border-box;
	z-index: 1000;
} */
#gHeader .hUserBoxOuter {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/* background: rgba(0,0,0,50%); */
	padding: 40px 20px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	box-sizing: border-box;
	z-index: 1000;

}
#gHeader .hUserBoxOuter.is-active  {
	opacity: 1;
	visibility: visible;
}
#gHeader .hUserBox-list .subList {
	position: absolute;
    top: 80%;
    right: 3%;
	width: 33rem;
	box-sizing: border-box;
	border: 0.1rem solid #E5E5E5;
	background: #fff;
	border-radius: 1.3rem;
	display: none;
	z-index: 1100;

}
#gHeader .hUserBox-list .subList .User-detail{
	display: none;

}
#gHeader .hUserBox-list .subList.is-active {
	display: block;
}
#gHeader .hUserBox-list .subList li:not(:last-child) {
	border-bottom: 0.1rem solid #E5E5E5;
}
#gHeader .hUserBox-list .subList .User-detail li a {
	height: 12rem;
}

#gHeader .hUserBox-list .subList li a {
	padding: 1.9rem 3rem;
	display: flex;
	align-items: center;
	font-size: 1.4rem;
}
#gHeader .hUserBox-list .subList li a .icon {
	margin-right: 0.9rem;
	width: 1.7rem;
	line-height: 2rem;
}
#gHeader .hUserBox-list .subList li.item01 a .icon {
	margin-right: 0.8rem;
	width: 1.8rem;
}
#gHeader .hUserBox-list .subList li a .icon .hover {
	display: none;
}
#gHeader .hUserBox-list .subList li .responsive-arrow {
	display: none;
}
#gHeader .hUserBox-list .subList .hamburger-list a {
height: 3.5rem;
}
#gHeader .hUserBox .userName {
	margin-right: 2rem;
}
#gHeader .hUserBox .userArrow {
	width: 1.7rem;
	transform: rotate(90deg);
}
.responsive-headerMenu {
	margin-left: auto;
}
@media all and (min-width: 1025px) {
	#gHeader .hUserBox .subList li a:hover .icon img {
		display: none;
	}
	#gHeader .hUserBox .subList li a:hover .icon .hover {
		display: inline;
	}
	#gHeader .hSearch {
		display: none !important;
	}
	.menu, .menuBox {
		display: none !important;
	}
}
@media all and (max-width: 1024px) {
	#gHeader {
		padding: 2rem  1.4rem 2.3rem;
		display: flex;
		justify-content: space-between;
		box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.04);
	}
	#gHeader::before {
		content: '';
		display: block;
		flex: 1;
	}
	#gHeader .hBox {
		display: block;
		flex: 1;
	}
	#gHeader h1 {
		margin: 0 auto;
		width: 14.5rem;
	}
	#gHeader .hUserBox {
		display: none;
	}
	#gHeader .hSearch {
		margin-top: -0.5rem;
		width: 19.3rem;
	}
	#gHeader .hSearch input {
		padding: 0 1rem 0 3rem;
		width: 100%;
		height: 3.5rem;
		color: #343434;
		font-size: 1rem;
		font-weight: bold;
		border: none;
		border-radius: 0.5rem;
		background: #F8F8F8 url("../../img/common/icon06.png") no-repeat left 1.2rem center / 1.1rem auto;
		box-sizing: border-box;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.responsive-headerMenu {
		display: flex;
		flex-direction: row-reverse;
		margin-left: auto;
		align-items: center;
		flex: 1;
	}
	#gHeader .notice-user-box {
		margin-left: 0;
	}
	.menu-box {
		margin-right: 2rem;
	}
	.menu {
		width: 2.6rem;
		height: 1.3rem;
		cursor: pointer;
		z-index: 10;
		position: relative;
	
	}
	.menu.on span {
		width: 100%;
		height: 1px;
		display: block;
		position: absolute;
		background: #8F8F8F;
		transition: .3s ease-in-out;
	}
	.menu span:nth-child(1) {
		top: 0;
	}
	.menu span:nth-child(2) {
		top: 45%;
		transform: translateX(0%);
	}
	.menu span:nth-child(3) {
		bottom: 0;
	}
	.menu.active span:nth-child(1) {
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}
	
	.menu.active span:nth-child(2) {
		transform: translateX(-100%);
		display: none;
	}
	.menu.active span:nth-child(3) {
		bottom: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menuBox {
		width: 100%;
		height: calc(100vh - 7rem);
		position: fixed;
		left: 0;
		top: 7rem;
		overflow: auto;
		background-color: #F7F7F7;
		display: none;
		z-index: 99;
	}
	.menuBox .menuWrap {
		padding: 1.8rem 2.5rem;
	}
	.menuBox .profileEditing {
		margin-bottom: 1.8rem;
		box-sizing: border-box;
		border-radius: 1rem;
		background: #fff;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.04);
	}
	.menuBox .profileEditing .sub01 {
		padding: 1.7rem 1.6rem;
		position: relative;
		align-items: center;
	}
	.menuBox .profileEditing .sub01::after {
		width: 1.1rem;
		height: 1.2rem;
		position: absolute;
		right: 1.9rem;
		top: 50%;
		transform: translateY(-50%);
		background: url("../../img/common/icon07.png") no-repeat center center / 100%;
		content: "";
	}
	.menuBox .profileEditing .sub01 .photo {
		width: 5rem;
	}
	.menuBox .profileEditing .sub01 .photo span {
		display: block;
		padding-bottom: 100%;
		border-radius: 1.4rem;
		overflow: hidden;
	}
	.menuBox .profileEditing .sub01 .textBox {
		width: calc(100% - 6.5rem);
		box-sizing: border-box;
		padding-right: 3rem;
	}
	.menuBox .profileEditing .sub01 .textBox .name {
		font-size: 1.6rem;
	}
	.menuBox .profileEditing .sub01 .textBox .sml {
		margin-top: 0.2rem;
		font-size: 1.2rem;
		font-weight: 500;
		color: #8F8F8F;
	}
	.menuBox .profileEditing .sub02 {
		padding: 0.1rem 1.6rem 1.7rem;
		display: none;
	}
	.menuBox .profileEditing .sub02 .subUl li a {
		padding: 0.8rem 0.5rem;
		display: flex;
		align-items: center;
		font-size: 1.2rem;
	}
	.menuBox .profileEditing .sub02 .subUl li a .icon {
		margin-right: 0.9rem;
		width: 1.7rem;
		font-size: 0;
		line-height: 0;
	}
	.menuBox .linkList > li {
		margin-bottom: 1.2rem;
		padding: 0 4.2rem 1.3rem;
		border-radius: 1rem;
		background: #fff;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.04);
		box-sizing: border-box;
	}
	.menuBox .linkList > li:last-child {
		margin-bottom: 0;
	}
	.menuBox .linkList li .ttl {
		padding: 2.2rem 0 1.1rem;
		position: relative;
		font-size: 1.4rem;
	}
	.menuBox .linkList li .ttl::after {
		content: "";
		margin-top: -0.2rem;
		width: 1.1rem;
		height: 1.2rem;
		position: absolute;
		right: -2.4rem;
		top: 3rem;
		background: url("../../img/common/icon07.png") no-repeat right center / 100% auto;
	}
	.menuBox .linkList li .ttl .icon {
		width: 1.8rem;
		left: -2.5rem;
		top: 2.7rem;
		position: absolute;
	}
	.menuBox .linkList.list01 li .ttl .icon {
		top: 2.5rem;
	}
	.menuBox .linkList li .ttl .icon01 {
		top: 2.4rem;
	}
	.menuBox .linkList li .subList {
		display: none;
		padding-bottom: 1.6rem;
	}
	.menuBox .linkList li .subList li {
		margin-bottom: 0.8rem;
		line-height: 1.52;
	}
	.menuBox .linkList li .subList li:last-child {
		margin-bottom: 0;
	}
	.menuBox .linkList li .subList li a {
		display: block;
		font-size: 1rem;
		color: #A3A3A3;
	}
	#gHeader .hUserBox-list .subList .User-detail{
		display: block;
	
	}
	#gHeader .modal-content .moreLink .moreLink-text {
		display: block;
	  }
	
}
@media all and (max-width: 599px) {
	#gHeader {
		padding: 1.8rem 2.5rem 0.9rem 2.5rem;
		background: #F8F8F8;
		box-shadow: none;
		box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.04);
	}
	#gHeader .hBox {
		margin: 0 auto;
		display: block;
	}
	#gHeader .noticeSp-box {
		display: block;
		flex: 1;
	}
	#gHeader h1 {
		width: 14rem;
	}
	#gHeader .hSearch {
		display: none;
	}
	.menu {
		right: 0;
	}
	.menuBox {
		height: calc(100vh - 6.1rem);
		top: 6.1rem;
		background: #F8F8F8;
	}
	.menu-box {
	margin-right: 0;
	}
	#gHeader .icon.bell {
		width: 2.1rem;
		height: 2.1rem;
		margin-right: 1.5rem;

	}
	#gHeader .bell-notice {
	width: .7rem;
    height: .7rem;
    background: #FE1211;
    border-radius: 50%;
    position: absolute;
    top: 9%;
    right: 5%;

	}
	#gHeader .modal-content .notice-icon {
		width: .8rem;
		height: .8rem;
		background: #FE1211;
		border-radius: 50%;
		z-index: 5;
		display: block;
		margin-right: 2rem;
	  }
	  #gHeader .notice-user-box {
		display: none;
	}
	#gHeader::before {
		display: none;
	}
	  #gHeader .notice-user-box.sp {
		display: flex;
		flex: 1;
	}
	#gHeader .icon.bell .bellOpenSp.is-active {
		opacity: 1;
		cursor: pointer;
	  }#gHeader .icon.bell .bellUsuallySp.is-active {
		opacity: 0;
	}
	#gHeader .hUserBox-list .subList .hamburger-list a {
		height: 2.5rem;
		}

}
/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
#gNavi ul {
	margin-top: 0.4rem;
	display: flex;
}
#gNavi li:not(:last-child) {
	margin-right: 2.8rem;
}
#gNavi li a {
	display: flex;
	align-items: center;
	transition: all .3s ease;
}
#gNavi li a .icon {
	margin-right: 0.7rem;
	width: 2rem;
	font-size: 0;
	line-height: 0;
	transition: all .3s ease;
}
#gNavi li a .icon img {
	transition: all .3s ease;
}
#gNavi li a  .txt {
	transition: all .3s ease;
}

#gNavi li a .icon .hover {
	display: none;
}
#fNavi li a .txt.select{
	color: #005792;
}
@media all and (min-width: 1025px) {
	#gNavi li a:hover img {
		display: none;
	}
	#gNavi li a:hover img.hover {
		display: inline;
	}
	#gNavi li a:hover .txt {
		color: #005792;
	}
	#gNavi li a.select {
		color: #005792;
	}

	#gNavi li a .icon .selected-none  {
		display: none;
		}
		#gNavi li a .icon .selected-inline  {
			display: inline;
			}

}
@media all and (max-width: 1024px) {
	#gNavi {
		display: none;
	}
}
/*------------------------------------------------------------
	conts
------------------------------------------------------------*/
#conts {
	padding-right: 0.5rem;
	width: 100%;
	box-sizing: border-box;
}
@media all and (min-width: 600px) and (max-width: 1024px) {
	#conts {
		padding-right: 0;
		width: 74.5%;
	}
}
@media all and (max-width: 599px) {
	#conts {
		padding-right: 0;
		width: auto;
	}
}
/*------------------------------------------------------------
	sideBar
------------------------------------------------------------*/
#sideBar {
	width: 23.3%;
}
#sideBar .subBox {
	margin-bottom: 5.2rem;
	padding: 4rem 10.7% 6.2rem;
	background-color: #fff;
	border-radius: 1.4rem;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.04);
}
#sideBar .subBox:last-child {
	margin-bottom: 0;
}
#sideBar .subBox .sideTtl {
	margin-bottom: 3.1rem;
	text-align: center;
}
#sideBar .subBox .sideTtl .icon {
	margin: 0 auto;
	width: 12.8rem;
	height: 12.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	background: #F8F8F8;
}




#sideBar .subBox .sideTtl .icon img {
	width: 6rem;
}
#sideBar .subBox .sideTtl .icon.wid01 img {
	width: 4.6rem;
}
#sideBar .subBox .sLinkList li a {
	display: block;
	color: #292929;
	font-size: 1.5rem;
}
#sideBar .subBox .sLinkList li .subList {
	margin-top: 2rem;
	line-height: 1.47;
}
#sideBar .subBox .sLinkList li .subList li:not(:last-child) {
	margin-bottom: 2rem;
}
#sideBar .subBox .sLinkList li .subList li a {
	color: #A3A3A3;
}
#sideBar .subBox .sLinkList .gray a {
	color: #A3A3A3 !important;
}
#sideBar .subBox .sLinkList .black a {
	color: #292929 !important;
}
@media all and (min-width: 1025px) {
	#sideBar .subBox .sLinkList li a:hover {
		color: #37AAD6 !important;
	}
}
@media all and (min-width: 600px) and (max-width: 1024px) {
	#sideBar {
		width: 23.5%;
	}
	#sideBar .subBox {
		margin-bottom: 1.8rem;
		padding: 2.1rem 1.9rem 2.8rem;
		border-radius: 1rem;
	}
	#sideBar .subBox:last-child {
		margin-bottom: 0;
	}
	#sideBar .subBox .sideTtl {
		margin-bottom: 1.8rem;
	}
	#sideBar .subBox .sideTtl .icon {
		width: 6rem;
		height: 6rem;
	}
	#sideBar .subBox .sideTtl .icon.wid01 img {
		width: 2.4rem;
	}
	#sideBar .subBox .sideTtl .icon img {
		width: 3.1rem;
	}
	#sideBar .subBox .sideTtl .icon01 img {
		width: 2.4rem;
	}
	#sideBar .subBox .sideTtl .icon02 img {
		margin: 0 0 0.3rem 0.3rem;
		width: 2.5rem;
	}
	#sideBar .subBox .sideTtl .icon03 img {
		width: 2.6rem;
	}
	#sideBar .subBox .sideTtl .icon04 img {
		width: 2.5rem;
	}
	#sideBar .subBox .sideTtl .icon05 img {
		width: 2.3rem;
	}
	#sideBar .subBox .sideTtl .icon06 img {
		width: 2.5rem;
	}
	#sideBar .subBox .sLinkList li a {
		font-size: 1rem;
	}
	#sideBar .subBox .sLinkList li .subList {
		margin-top: 0.8rem;
	}
	#sideBar .subBox .sLinkList li .subList li:not(:last-child) {
		margin-bottom: 0.8rem;
	}

	#gHeader .modal-container.notice{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		background: #FFF;
		z-index: 200;
	  }
	  #gHeader .modal-content .moreLink {
		display: none;
	  }
	  #gHeader .modal-content .headLine-notice {
		background: #FFF;
		padding: 1rem 1.4rem 1.3rem;
		line-height: auto;
		color: #202020;
		text-align: center;
		font-size: 1.9rem;
		border-radius: auto;
		flex: 1;
	  }
	  #gHeader .modal-content.notice  .notice-headlineBox {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.04);
		background: #FFF;
	  }
	  #gHeader .modal-content.notice  .notice-headlineBox::after {
		content: '';
		display: block;
		flex: 1;
	  }
	  #gHeader .modal-content.notice .notice-modal-close {
		display: block;
		flex: 1;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	  }
	  #gHeader .modal-content.notice .notice-modal-close img {
		margin-left: 3rem;
		width: 3rem;
	  }
	  #gHeader .modal-content .notice-list-ttl {
		width: 100%;
		max-width: 620px;
		margin-bottom: 0;
		font-size: 1.3rem;
	}
	#gHeader .modal.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 1.8rem;
		margin-top: 5rem;
		position: fixed;
		left: 32%;
		bottom: 8%;
	}

	#gHeader .modal.pagination li a{
		display: inline-block;
		height: 1.1rem;
		width: 1.1rem;
		line-height: 1.1rem;
		border-radius: 1rem;
		text-align: center;
		font-size: 1.3rem;
		padding: 1.5rem ;
	}
	#gHeader .modal.pagination .prev a,
	#gHeader .modal.pagination .next a{
		width: .8rem;
	}
	
	#gHeader .modal.pagination .page-number.choice a {
		background: #005792;
		color: #FFF;
	}
	#gHeader .notice-time {
		display: inline-block;
		vertical-align: 0.4rem;
		color: #A5A5A5;
		font-size: 1.2rem;
		font-weight: 500;
	}
/* タブレット　ユーザーボックスモーダル */
#gHeader .hUserBoxOuter {
	z-index: 1;

}
	#gHeader .hUserBox-list .subList {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		border: none;
		background: #F3F5F6;
		border-radius: 0;
		display:none;

	}
	#gHeader .hUserBox-list .subList.active {
		display: block;
	}
	#gHeader .hUserBox-list .subList li:not(:last-child) {
		border: none;
	}
	#gHeader .hUserBox-list .subList li:first-child {
		margin-top: 5%;
	}

	#gHeader .hUserBox-list .subList li{
		background: #FFF;
		padding: 0;
		max-width: 86.33%;
		border-radius: 1rem;
		margin: 1.2rem auto;
	}
	#gHeader .hUserBox-list .subList li a {
		padding: 2.5rem 4.5rem;
	}
	#gHeader .hUserBox-list .subList li .responsive-arrow {
		display: block;
		margin-left: auto;
	}
	#gHeader .hUserBox-list .subList .hamburger-list .icon {
		margin-right: 4rem;
	}
	#gHeader .hUserBox-list .subList .hamburger-list .icon img {

		width: 1.5rem;

	}

	#gHeader .User-detail.hUserBox .userImg {
		margin-right: 2.4rem;
		width: 7rem;
	}
	#gHeader .modal-content .moreLink .moreLink-text {
		display: block;
	  }
	  #gHeader .modal-content.notice .notice-box {
	max-height: auto;
    overflow: visible;
	  }

}
@media all and (max-width: 599px) {
	#gHeader .modal-container.notice{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		background: #FFF;
		z-index: 200;
	  }
	  #gHeader .modal-content .moreLink {
		display: none;
	  }
	  #gHeader .modal-content .headLine-notice {
		background: #FFF;
		padding: 0;
		line-height: auto;
		color: #202020;
		text-align: center;
		font-size: 1.5rem;
		border-radius: auto;
		flex: 1;
	  }
	  #gHeader .modal-content.notice  .notice-headlineBox {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.04);
		background: #FFF;
		padding: .2rem 2.5rem .1rem 2.5rem;
	  }
	  #gHeader .modal-content.notice  .notice-headlineBox::after {
		content: '';
		display: block;
		flex: 1;
	  }
	  #gHeader .modal-content.notice .notice-modal-close {
		display: block;
		flex: 1;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	  }
	  #gHeader .modal-content.notice .notice-modal-close img {
		margin-left: 0rem;
		width: 3rem;
		
	  }
	  #gHeader .modal-content .notice-list-ttl {
		width: 100%;
		max-width: 270px;
		margin-bottom: 0rem;
		font-size: 1.4rem;
	}
	#gHeader .hUserBox-list .subList {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
		border: none;
		background: #F3F5F6;
		border-radius: 0;
		display:none;

	}
	#gHeader .hUserBox-list .subList.active {
		display: block;
	}
	#gHeader .hUserBoxOuter {
		z-index: 1;
	}
	#gHeader .hUserBox-list .subList.active {
		display: block;
	}
	#gHeader .hUserBox-list .subList li:not(:last-child) {
		border: none;
	}
	#gHeader .hUserBox-list .subList li:first-child {
		margin-top: 5%;
	}

	#gHeader .hUserBox-list .subList li{
		background: #FFF;
		padding: 0;
		max-width: 86.33%;
		border-radius: 1rem;
		margin: 1.2rem auto;
	}
	#gHeader .hUserBox-list .subList li a {
		padding: 2.5rem 3rem;
		column-gap: 1.3rem;
	}

	#gHeader .hUserBox-list .subList li .responsive-arrow {
		display: block;
		margin-left: auto;
	}
	#gHeader .hUserBox-list .subList li a .icon  {
		margin-right: 3rem;
	}
	#gHeader .User-detail.hUserBox .userImg {
		margin-right: 0;
		width: 8rem;
		flex: 4;
	}
	#gHeader .User-detail.hUserBox .User-detail-box {
		flex: 10;
	}
	#gHeader .hUserBox-list .subList li .responsive-arrow {
		flex: 1;
		text-align: right;
	}
	#gHeader .modal.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 1.8rem;
		margin-top: 5rem;
		position: fixed;
		bottom: 12%;
		left: 19%;

	}

	#gHeader .modal.pagination li a{
		display: inline-block;
		height: 1rem;
		width: 1rem;
		line-height: 1rem;
		border-radius: 1rem;
		text-align: center;
		font-size: 1.4rem;
		padding: 1.2rem ;
	}

	#gHeader .modal.pagination .page-number.choice a {
		background: #005792;
		color: #FFF;
	}
	#sideBar {
		margin-bottom: 1.3rem;
		width: auto;
	}
	#sideBar .subBox {
		margin-bottom: 1.4rem;
		padding: 2.1rem 3.8rem;
		border-radius: 1rem;
	}
	#sideBar .subBox:last-child {
		margin-bottom: 0;
	}
	#sideBar .subBox .sideTtl {
		margin-bottom: 0.1rem;
		padding-left: 2.1rem;
		position: relative;
		text-align: left;
	}
	#sideBar .subBox .sideTtl::after {
		content: "";
		margin-top: -0.2rem;
		width: 1.3rem;
		height: 1.4rem;
		position: absolute;
		right: -1.4rem;
		top: 50%;
		transform: translateY(-50%);
		background: url("../../img/common/icon07.png") no-repeat right center / 100% auto;
	}
	#sideBar .subBox .sideTtl .icon {
		margin: 0;
		width: auto;
		height: auto;
		position: absolute;
		left: -2.1rem;
		top: -0.2rem;
		display: block;
		border-radius: 0;
		background: transparent;
	}
	#sideBar .subBox .sideTtl .icon img {
		width: 3.1rem;
	}
	#sideBar .subBox .sideTtl .icon01 {
		top: 0.1rem;
		left: -1.6rem;
	}
	#sideBar .subBox .sideTtl .icon01 img {
		width: 2.4rem;
	}
	#sideBar .subBox .sideTtl .icon02 {
		top: -0.2rem;
		left: -1.6rem;
	}
	#sideBar .subBox .sideTtl .icon02 img {
		width: 2.5rem;
	}
	#sideBar .subBox .sideTtl .icon03 {
		top: -0.1rem;
		left: -1.7rem;
	}
	#sideBar .subBox .sideTtl .icon03 img {
		width: 2.6rem;
	}
	#sideBar .subBox .sideTtl .icon04 {
		top: 0.1rem;
		left: -1.7rem;
	}
	#sideBar .subBox .sideTtl .icon04 img {
		width: 2.5rem;
	}
	#sideBar .subBox .sideTtl .icon05 {
		top: 0.1rem;
		left: -1.7rem;
	}
	#sideBar .subBox .sideTtl .icon05 img {
		width: 2.3rem;
	}
	#sideBar .subBox .sideTtl .icon06 {
		top: 0.1rem;
		left: -1.7rem;
	}
	#sideBar .subBox .sideTtl .icon06 img {
		width: 2.5rem;
	}
	#sideBar .subBox .sLinkList {
		padding-top: 2.7rem;
		padding-bottom: 1.4rem;
		display: none;
	}
	#sideBar .subBox .sLinkList li a {
		font-size: 1.4rem;
	}
	#sideBar .subBox .sLinkList li .subList {
		margin-top: 1.6rem;
	}
	#sideBar .subBox .sLinkList li .subList li:not(:last-child) {
		margin-bottom: 1.6rem;
	}
	#sideBar.bar01 {
		margin-bottom: 3.6rem;
	}
	#sideBar.bar01 .subBox {
		padding: 2.3rem 3.8rem 2rem 5.8rem;
	}
	#sideBar.bar01 .subBox.fzBig {
		padding: 2.1rem 3.8rem 2.1rem 4.8rem;
	}
	#sideBar.bar01 .subBox .sideTtl {
		padding-left: 0;
	}
	#sideBar.bar01 .subBox.fzBig .sideTtl .headLine04 {
		font-size: 1.8rem;
	}
	#sideBar .subBox .sideTtl .icon.wid01 {
		left: -3.4rem;
		top: 0.4rem;
	}
	#sideBar .subBox.fzBig .sideTtl .icon.wid01 {
		left: -2.9rem;
	}
	#sideBar .subBox .sideTtl .icon.wid01.icon01 {
		top: 0.1rem;
	}
	#sideBar .subBox .sideTtl .icon.wid01 img {
		width: 2.3rem;
	}
	#sideBar.bar01 .subBox.fzBig .sLinkList {
		margin-bottom: 0.8rem;
	}
	#sideBar.bar01 .subBox.fzBig .sLinkList li a {
		font-size: 1.5rem;
	}
	#sideBar.bar01 .subBox.fzBig .sLinkList li .subList {
		margin-top: 2rem;
	}
	#sideBar.bar01 .subBox.fzBig .sLinkList li .subList li:not(:last-child) {
		margin-bottom: 2rem;
	}
	#gHeader .modal-content .moreLink .moreLink-text {
		display: block;
	  }
	  #gHeader .modal-content.notice .notice-box {
		max-height: auto;
		overflow: visible;
		  }
		  #gHeader .notice-time {
			display: inline-block;
			vertical-align: 0.4rem;
			color: #A5A5A5;
			font-size: 1.2rem;
			
}
}
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
	padding: 12.4rem 4.48% 5.4rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#gFooter .fLinkList {
	margin-bottom: 0.2rem;
	display: flex;
	flex-wrap: wrap;
}
#gFooter .fLinkList li {
	margin-right: 2.1rem;
}
#gFooter .fLinkList li a {
	display: block;
	font-size: 1.2rem;
	color: #A3A3A3;
}
#gFooter address {
	font-size: 1.5rem;
	font-weight: 600;
	font-style: normal;
	color: #A5A5A5;
}
#Footer {
	display: none;
}
@media all and (min-width: 1025px) {
	#gFooter .fLinkList li a:hover {
		color: #555;
	}
}
@media all and (min-width: 600px) and (max-width: 1024px) {
	#Footer {
		box-sizing: border-box;
		width: 100%;
		padding: 1.1rem 1.4rem 3.5rem;
		position: fixed;
		left: 0;
		bottom: 0;
		box-shadow: 0 -2rem 6rem rgba(0, 0, 0, 0.04);
		background: #fff;
		z-index: 100;
		display: block;
	}
	#Footer.is-active {
		display: none;
	}
	#fNavi {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#fNavi ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex: 1;
	}
	#fNavi ul li a{
		display: flex;
		align-items: center;
		flex: 1;
	}
	#fNavi li a .icon {
		width: 3.5rem;
		height: 3rem;
		font-size: 0;
		line-height: 3.5rem;
		position: relative;
		display: flex;
	}
	#fNavi li a .icon img {
		width: 3.3rem;
		height: 3rem;
	}
	#fNavi li a .icon .fNavi-notice {
		position: absolute;
		top: -20%;
		right: -8%;
		width: 1.7rem;
		height: 1.7rem;
		text-align: center;
		line-height: 1.6rem;
		font-size: 1rem;
		background: #FE1211;
		color: #FFF;
		border-radius: 50%;
		border: solid 1px #FFF;
	}

	#fNavi li a span  {
		font-size: 1.2rem;
	}
	#fNavi li a span:last-child {
		margin-left: 1rem;
	}
	#fNavi li a .icon .choice {
		display: none;
	}
	#fNavi li a .icon .choice.current {
		display: block;
	}
	#gFooter {
		padding: 8.7rem 3.8rem 2.6rem;
	}
	#gFooter .fLinkList {
		margin-bottom: 0;
	}
	#gFooter .fLinkList li {
		margin-right: 1.2rem;
	}
	#gFooter .fLinkList li a {
		font-size: 0.8rem;
	}
	#gFooter address {
		font-size: 0.9rem;
	}
}
@media all and (max-width: 599px) {
	#gFooter {
		padding: 6.1rem 2.5rem 2.6rem;
	}
	#gFooter .fLinkList {
		margin-bottom: 0;
	}
	#gFooter .fLinkList li {
		margin-right: 1.2rem;
	}
	#gFooter .fLinkList li a {
		font-size: 0.8rem;
	}
	#gFooter address {
		font-size: 0.9rem;
	}


/* Footer  スマホ*/
	#Footer {
		box-sizing: border-box;
		width: 100%;
		padding: .6rem 0 3.5rem;
		position: fixed;
		left: 0;
		bottom: 0;
		box-shadow: 0 -6rem 6rem rgba(0, 0, 0, 0.04);
		background: #fff;
		z-index: 100;
		display: block;
	}
	#Footer.is-active {
		display: none;
	}
	#fNavi {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#fNavi ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex: 1;
	}
	#fNavi ul li a{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		row-gap: 0rem;
		column-gap: 0;
		
	}
	#fNavi li a .icon .fNavi-notice {
		position: absolute;
		top: -10%;
		right: -30%;
		width: 1.7rem;
		height: 1.7rem;
		text-align: center;
		line-height: 1.5rem;
		font-size: 1rem;
		background: #FE1211;
		color: #FFF;
		border-radius: 50%;
		border: solid 1.5px #FFF;
	}
	#fNavi ul li  {
		width: 25%;
	}
	#fNavi li a .icon {
		width: 2.6rem;
		height: 2.6rem;
		line-height: 2.5rem;
		font-size: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	
	}
	#fNavi li a .icon img  {
		width: 2.5rem;
		height: 2.5rem;
	}
	
	#fNavi li a .icon .fnavi-headlig {
		margin-top: auto;
	}
	
	#fNavi li a span  {
		font-size: 1rem;
		color: #343434;
	}
	#fNavi li a .icon .choice {
		display: none;
	}
	#fNavi li a .icon .choice.current {
		display: block;
	}
	#gFooter {
		padding: 8.7rem 3.8rem 2.6rem;
	}
	#gFooter .fLinkList {
		margin-bottom: 0;
	}
	#gFooter .fLinkList li {
		margin-right: 1.2rem;
	}
	#gFooter .fLinkList li a {
		font-size: 0.8rem;
	}
	#gFooter address {
		font-size: 0.9rem;
}
}